/* ----- BUTTONS ----- */
/* DEFAULT BUTTON */
.btn {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: normal;
  opacity: 0.9;
  transition: background-color 0.3s;
  &:hover {
    background-color: lighten($orange, 7%);
  }
}
/* *** */

/* TABS */

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 46.4103%;
  &__link {
    padding: 5px 10px;

    color: $gray;

    font-size: 1.25rem;
  }
}
.active-link {
  color: $orange;
}

/* *** */

.buy-btn {
  position: relative;
  flex: 1 0 112px;
  padding: 12px 10px;
  color: $white;
  background-color: $orange;
  &:hover {
    background-color: lighten($orange, 4%);
  }
}

.search-btn {
  width: 24px;
  height: 24px;
}

.icon-search {
  transition: fill 0.3s;
  &:hover {
    fill: darken($color: $light-gray, $amount: 50%);
  }
}

.send-btn {
  position: relative;
  overflow: hidden;
  height: 60px;
  padding: 20px;
  color: $white;
  background-color: $orange;
}
.btn__content {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

/* RIPPLE ANIMATION FOR BUTTONS */
.ripple {
  &-container,
  &-animation {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    pointer-events: none;

    color: inherit;
  }
  &-container {
    width: 100%;
    height: 100%;
  }
  &-animation {
    position: absolute;

    width: 20px;
    height: 20px;

    animation: ripple 1.25s cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    border-radius: 50%;
    background-color: rgba($color: #fff, $alpha: 0.5);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);

    opacity: 1;
  }
  100% {
    transform: scale(100);

    opacity: 0;
  }
}

/* ---------- */

/* ----- BURGER MENU ------- */
.icon-menu {
  display: none;

  margin-left: 25px;
}

/* -------------------- MEDIA QUERIIS ------------------ */

@media screen and (max-width: $xxl) {
}
@media screen and (max-width: $xl) {
}
@media screen and (max-width: $lg) {
}
@media screen and (max-width: $md) {
  .icon-menu {
    position: relative;
    z-index: 6;

    display: flex;
    flex: 0 0 35px;
    flex-direction: column;
    justify-content: space-between;

    height: 25px;

    cursor: pointer;
    transition: height 0.3s;
    &:hover .icon-menu__line {
      box-shadow: 0 2px 3px $black, 0 2px 2px $white;
    }
    &__line {
      height: 1px;

      transition: all 0.3s;

      background-color: $black;
    }
  }
  .icon-close.icon-menu {
    .icon-menu__line:nth-child(2) {
      opacity: 0;
    }
    .icon-menu__line:first-child {
      transform: rotate(45deg) translate(17px);
    }
    .icon-menu__line:last-child {
      transform: rotate(-45deg) translate(17px);
    }
  }
}
@media screen and (max-width: $sm) {
}
@media screen and (max-width: $ms) {
}
@media screen and (max-width: $xs) {
}

/* ------------------------------------ */
