@font-face {
                font-family: SourceSansPro;
                src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff");
                font-display: swap;
                font-style: normal;
              }
@font-face {
                font-family: SourceSansPro;
                src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff");
                font-display: swap;
                font-style: normal;
              }
