/* HOME BLOCK */
.home {
  &__container {
    text-align: center;
    padding-top: 165px !important;
  }

  &__title {
    width: 82%;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: $font-main-title;
    font-weight: $font-weight-title;
    position: relative;
    &::after {
      content: url("../img/spiral_arrow.png");
      position: absolute;
      top:55px;
      right: -62px;
    }
  }

  &__description {
    width: 65.5%;
    margin: 0 auto;

    color: $gray;

    font-size: 1.25rem;
    line-height: 32px;
  }

  &__banner {
    width: 100%;
  }
}
/* ----------------------- */
@media screen and (max-width: xxl) {
}
@media screen and (max-width: xl) {
}
@media screen and (max-width: lg) {
}
@media screen and (max-width: md) {
}
@media screen and (max-width: sm) {
}
@media screen and (max-width: ms) {
}
@media screen and (max-width: xs) {
}
