/*  */
.testimonial {
}
.testimonial-title {
  color: $white;

  font-size: $font-size-title;
  font-weight: $font-weight-title;
}
.swiper {
  padding: 60px 55px 120px;
  width: 1085px;
  // height: 300px;
  &__navigation-container {
    position: absolute;
    z-index: 10;
    bottom: 21%;
    right: 55px;
    display: flex;
    justify-content: space-between;
    width: 82px;
  }
}

.swiper-slide {
  &__img {
  }
  &__text {
    display: flex;
    flex-direction: column;
    width: 470px;
  }
}

.text {
  &__title {
    font-size: 2.25rem;
    font-weight: $font-weight-title;
    color: $white;
    &::before {
      display: block;

      width: 60px;
      height: 60px;

      content: url("../img/icons/icons.svg#quote-up");
    }
  }
  &__comment {
    padding: 28px 0;
    font-size: $common-font-size;
    line-height: 1.6;
    color: rgba($color: $white, $alpha: 0.8);
  }
  &__username {
    font-size: $common-font-size;
    font-weight: $font-weight-title;
    color: $orange;
  }

  &__major {
    padding: 8px 0;
    color: rgba($color: $white, $alpha: 0.8);
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__img-wrapper {
    position: relative;
    &::after {
      content: url("../img/icons/icons.svg#star");
      display: inline-block;
      width: 165px;
      height: 165px;
      position: absolute;
      left: -40px;
      bottom: -43px;
    }
  }
  &__img {
    width: 370px;
    height: 470px;
    border-radius: 139px;
    object-fit: cover;
  }
}
.swiper-button-prev {
}
.swiper-button-next {
}
/* -------------------- */

/* -------------------- MEDIA QUERIIS ------------------ */

@media screen and (max-width: $xxl) {
}
@media screen and (max-width: $xl) {
}
@media screen and (max-width: $lg) {
}
@media screen and (max-width: $md) {
}
@media screen and (max-width: $sm) {
}
@media screen and (max-width: $ms) {
}
@media screen and (max-width: $xs) {
}

/* ------------------------------------ */
