@import "_variables";
@import "_reset";

[class*="__container"] {
  max-width: 1240px;
  padding: 0 35px;
  margin: 0 auto;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 1 auto;

  &__home {
  }

  &__about {
  }

  &__products {
  }

  &__testimonial {
  }

  &__conatact {
  }
}
.home {
  &__container {
  }

  &__title {
  }

  &__description {
  }

  &__banner {
  }
}

